In [1]:
#Mini Project 2
##Investigate Hotel Business using Data Visualization

In [1]:
import pandas as pd
df = pd.read_csv(r'C:\Users\fajar\OneDrive\Documents\Rakamin Project\Investigate Hotel Business using Data Visualization/hotel_bookings_data.csv')

In [2]:
df.sample(5)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_weekdays_nights,adults,...,booking_changes,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status
35727,Resort Hotel,0,19,2019,July,18,2,0,2,2,...,0,No Deposit,242.0,NaN,0,Personal,108.00,1,1,Check-Out
2420,Resort Hotel,0,283,2017,December,42,12,2,5,2,...,0,No Deposit,273.0,NaN,0,Family,79.00,0,0,Check-Out
39313,Resort Hotel,0,12,2019,October,32,11,1,2,2,...,0,No Deposit,241.0,NaN,0,Personal,167.73,0,1,Check-Out
75278,City Hotel,1,299,2017,October,33,12,0,2,2,...,0,Non Refund,1.0,NaN,0,Family,62.00,0,0,Canceled
62935,City Hotel,1,61,2019,March,4,25,0,2,2,...,0,Non Refund,326.0,NaN,0,Personal,80.00,0,0,Canceled

In [3]:
df.isnull().sum()

hotel                                  0
is_canceled                            0
lead_time                              0
arrival_date_year                      0
arrival_date_month                     0
arrival_date_week_number               0
arrival_date_day_of_month              0
stays_in_weekend_nights                0
stays_in_weekdays_nights               0
adults                                 0
children                               4
babies                                 0
meal                                   0
city                                 488
market_segment                         0
distribution_channel                   0
is_repeated_guest                      0
previous_cancellations                 0
previous_bookings_not_canceled         0
booking_changes                        0
deposit_type                           0
agent                              16340
company                           112593
days_in_waiting_list                   0
customer_type                          0
adr                                    0
required_car_parking_spaces            0
total_of_special_requests              0
reservation_status                     0
dtype: int64

In [4]:
#didapat 4 coloumn dengan null yaitu city, agent, company, dan children
#dilakukan pengisian data null

In [24]:
#Children null bisa di anggap menjadi 0
df.children = df.children.fillna(0)
df.children.isnull().sum()

0

In [23]:
#city yang null di anggap Unknown
df.city = df.city.fillna('Unknown')
df.city.isnull().sum()

0

In [22]:
#agent yang null di anggap tidak menggunakan agent jadi di isi 0
df.agent = df.agent.fillna(0)
df.agent.isnull().sum()

0

In [21]:
#company yang null di anggap tidak menggunakan agent jadi di isi 0
df.company = df.company.fillna(0)
df.company.isnull().sum()

0

In [9]:
df.isnull().sum()

hotel                             0
is_canceled                       0
lead_time                         0
arrival_date_year                 0
arrival_date_month                0
arrival_date_week_number          0
arrival_date_day_of_month         0
stays_in_weekend_nights           0
stays_in_weekdays_nights          0
adults                            0
children                          0
babies                            0
meal                              0
city                              0
market_segment                    0
distribution_channel              0
is_repeated_guest                 0
previous_cancellations            0
previous_bookings_not_canceled    0
booking_changes                   0
deposit_type                      0
agent                             0
company                           0
days_in_waiting_list              0
customer_type                     0
adr                               0
required_car_parking_spaces       0
total_of_special_requests         0
reservation_status                0
dtype: int64

In [10]:
df.meal.value_counts()

Breakfast     92310
Dinner        14463
No Meal       10650
Undefined      1169
Full Board      798
Name: meal, dtype: int64

In [11]:
#di dapat undefined sebagai value yang bisa di anggap menjadi no meal (incorrect value)

In [12]:
df.meal = df.meal.replace(['Undefined'], 'No Meal')
df.meal.value_counts()

Breakfast     92310
Dinner        14463
No Meal       11819
Full Board      798
Name: meal, dtype: int64

In [13]:
#menghilangkan data yang tidak perlu dan memproses data

In [14]:
df['visitor'] = df['adults'] + df['children'] + df['babies']
df['stay_duration'] = df['stays_in_weekend_nights'] + df['stays_in_weekdays_nights']

In [15]:
#selection data
df_selection = df[df.columns.difference(['adults','children', 'babies', 'stays_in_weekend_nights','stays_in_weekdays_nights'])]

In [16]:
df_selection

,adr,agent,arrival_date_day_of_month,arrival_date_month,arrival_date_week_number,arrival_date_year,booking_changes,city,company,customer_type,...,lead_time,market_segment,meal,previous_bookings_not_canceled,previous_cancellations,required_car_parking_spaces,reservation_status,stay_duration,total_of_special_requests,visitor
0,0.00,0.0,1,September,27,2017,3,Kota Denpasar,0.0,Personal,...,342,Direct,Breakfast,0,0,0,Check-Out,0,0,2.0
1,0.00,0.0,1,September,27,2017,4,Kota Denpasar,0.0,Personal,...,737,Direct,Breakfast,0,0,0,Check-Out,0,0,2.0
2,75.00,0.0,1,September,27,2017,0,Kabupaten Bangka,0.0,Personal,...,7,Direct,Breakfast,0,0,0,Check-Out,1,0,1.0
3,75.00,304.0,1,September,27,2017,0,Kabupaten Bangka,0.0,Personal,...,13,Corporate,Breakfast,0,0,0,Check-Out,1,0,1.0
4,98.00,240.0,1,September,27,2017,0,Kabupaten Bangka,0.0,Personal,...,14,Online TA,Breakfast,0,0,0,Check-Out,2,1,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,96.14,394.0,30,October,35,2019,0,Kabupaten Magelang,0.0,Personal,...,23,Offline TA/TO,Breakfast,0,0,0,Check-Out,7,0,2.0
119386,225.43,9.0,31,October,35,2019,0,Kota Yogyakarta,0.0,Personal,...,102,Online TA,Breakfast,0,0,0,Check-Out,7,2,3.0
119387,157.71,9.0,31,October,35,2019,0,Kabupaten Bandung,0.0,Personal,...,34,Online TA,Breakfast,0,0,0,Check-Out,7,4,2.0
119388,104.40,89.0,31,October,35,2019,0,Kabupaten Bangka,0.0,Personal,...,109,Online TA,Breakfast,0,0,0,Check-Out,7,0,2.0
119389,151.20,9.0,29,October,35,2019,0,Kabupaten Bandung,0.0,Personal,...,205,Online TA,Dinner,0,0,0,Check-Out,9,2,2.0